<!-- nac 
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container" id="nav">

	  </div>
	
</nav>
    	-->
    <div class="container-fluid" data-src="mapa.jpg">
                <%= image_tag "mapa.jpg", :class=>"img-responsive", :id => "map"%>

<!-- Page Content 
        <div class="row" id="scroll">
		<%= image_tag "http://cinemont.com/tutorials/howls/cloud-bg.png", :title => "title", :class => "cloud-bg" %>
		<%= image_tag "http://cinemont.com/tutorials/howls/cloud-bg.png", :title => "title", :class => "cloud-bg2" %>            

	        <div class="buttons">
				
	         
	        </div>

    
			    <div class="clouds">
			<%= image_tag "http://cinemont.com/tutorials/howls/cloud_shadow-1.png", :title => "title", :class => "cloud-shadow1" %>
			<%= image_tag "http://cinemont.com/tutorials/howls/cloud_shadow-1.png", :title => "title", :class => "cloud-shadow2" %>
			<%= image_tag "http://cinemont.com/tutorials/howls/cloud_shadow-1.png", :title => "title", :class =>"cloud-shadow3"%>
			<%= image_tag "http://cinemont.com/tutorials/howls/cloud-1.png", :title => "title", :class =>"cloud1"%>
			<%= image_tag "http://cinemont.com/tutorials/howls/cloud-1.png", :title => "title", :class =>"cloud2"%>
			<%= image_tag "http://cinemont.com/tutorials/howls/cloud-2.png", :title => "title", :class =>"cloud3"%>
			<%= image_tag "http://cinemont.com/tutorials/howls/cloud-1.png", :title => "title", :class =>"cloud4"%>
			<%= image_tag "http://cinemont.com/tutorials/howls/cloud-2.png", :title => "title", :class =>"cloud5"%>

			    </div>
			
	      
        </div>
        <!-- /.row 
				
				-->


    </div>
    <!-- /.container -->
	
<script>
var overscroll = function(el) {
  el.addEventListener('touchstart', function() {
    var top = el.scrollTop
      , totalScroll = el.scrollHeight
      , currentScroll = top + el.offsetHeight
    //If we're at the top or the bottom of the containers
    //scroll, push up or down one pixel.
    //
    //this prevents the scroll from "passing through" to
    //the body.
    if(top === 0) {
      el.scrollTop = 1
    } else if(currentScroll === totalScroll) {
      el.scrollTop = top - 1
    }
  })
  el.addEventListener('touchmove', function(evt) {
    //if the content is actually scrollable, i.e. the content is long enough
    //that scrolling can occur
    if(el.offsetHeight < el.scrollHeight)
      evt._isScroller = true
  })
}
overscroll(document.querySelector('.scroll'));
document.body.addEventListener('touchmove', function(evt) {
  //In this case, the default behavior is scrolling the body, which
  //would result in an overflow.  Since we don't want that, we preventDefault.
  if(!evt._isScroller) {
    evt.preventDefault()
  }
})
</script>
