	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container" id="nav">

	  </div>
	
</nav>
    <!-- Page Content -->
    <div class="container">

        <div class="row" id="scroll">
		<%= image_tag "http://cinemont.com/tutorials/howls/cloud-bg.png", :title => "title", :class => "cloud-bg" %>
		<%= image_tag "http://cinemont.com/tutorials/howls/cloud-bg.png", :title => "title", :class => "cloud-bg2" %>            
                <%= image_tag "mapa.jpg", :class=>"foreground"%>
	        <div class="buttons">
				
	          <button class="zoom-in">Zoom In</button>
	          <button class="zoom-out">Zoom Out</button>
	          <input type="range" class="zoom-range">
	          <button class="reset">Reset</button>
	        </div>

    
			    <div class="clouds">
			<%= image_tag "http://cinemont.com/tutorials/howls/cloud_shadow-1.png", :title => "title", :class => "cloud-shadow1" %>
			<%= image_tag "http://cinemont.com/tutorials/howls/cloud_shadow-1.png", :title => "title", :class => "cloud-shadow2" %>
			<%= image_tag "http://cinemont.com/tutorials/howls/cloud_shadow-1.png", :title => "title", :class =>"cloud-shadow3"%>
			<%= image_tag "http://cinemont.com/tutorials/howls/cloud-1.png", :title => "title", :class =>"cloud1"%>
			<%= image_tag "http://cinemont.com/tutorials/howls/cloud-1.png", :title => "title", :class =>"cloud2"%>
			<%= image_tag "http://cinemont.com/tutorials/howls/cloud-2.png", :title => "title", :class =>"cloud3"%>
			<%= image_tag "http://cinemont.com/tutorials/howls/cloud-1.png", :title => "title", :class =>"cloud4"%>
			<%= image_tag "http://cinemont.com/tutorials/howls/cloud-2.png", :title => "title", :class =>"cloud5"%>

			    </div>
			
	      
        </div>
        <!-- /.row -->
		

    </div>
    <!-- /.container -->
	
<div class="control-toggle">Toggle mouse controls</div>
<div class="load-gate">Loading...</div>
