<!-- nac 
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container" id="nav">

	  </div>
	
</nav>
    	-->
    <div class="container-fluid" data-src="mapa.jpg">
                <%= image_tag "mapa.jpg", :class=>"img-responsive", :id => "map"%>

<!-- Page Content 
        <div class="row" id="scroll">
		<%= image_tag "http://cinemont.com/tutorials/howls/cloud-bg.png", :title => "title", :class => "cloud-bg" %>
		<%= image_tag "http://cinemont.com/tutorials/howls/cloud-bg.png", :title => "title", :class => "cloud-bg2" %>            

	        <div class="buttons">
				
	         
	        </div>

    
			    <div class="clouds">
			<%= image_tag "http://cinemont.com/tutorials/howls/cloud_shadow-1.png", :title => "title", :class => "cloud-shadow1" %>
			<%= image_tag "http://cinemont.com/tutorials/howls/cloud_shadow-1.png", :title => "title", :class => "cloud-shadow2" %>
			<%= image_tag "http://cinemont.com/tutorials/howls/cloud_shadow-1.png", :title => "title", :class =>"cloud-shadow3"%>
			<%= image_tag "http://cinemont.com/tutorials/howls/cloud-1.png", :title => "title", :class =>"cloud1"%>
			<%= image_tag "http://cinemont.com/tutorials/howls/cloud-1.png", :title => "title", :class =>"cloud2"%>
			<%= image_tag "http://cinemont.com/tutorials/howls/cloud-2.png", :title => "title", :class =>"cloud3"%>
			<%= image_tag "http://cinemont.com/tutorials/howls/cloud-1.png", :title => "title", :class =>"cloud4"%>
			<%= image_tag "http://cinemont.com/tutorials/howls/cloud-2.png", :title => "title", :class =>"cloud5"%>

			    </div>
			
	      
        </div>
        <!-- /.row 
				
				-->


    </div>
    <!-- /.container -->
	
