<!-- Navs just for border's sake -->

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">

  </div>
</nav>
<nav class="navbar navbar-default navbar-fixed-bottom"></nav>

    	
    <div class="container-fluid"  id="map">
	    <%# image_tag "mapa.jpg", :class=>"img-responsive", :id => "map", :usemap=>"#map1"%>
		
		

<!-- Page Content 
        <div class="row" id="scroll">
		<%= image_tag "http://cinemont.com/tutorials/howls/cloud-bg.png", :title => "title", :class => "cloud-bg" %>
		<%= image_tag "http://cinemont.com/tutorials/howls/cloud-bg.png", :title => "title", :class => "cloud-bg2" %>            

	        <div class="buttons">
				
	         
	        </div>

    
			    <div class="clouds">
			<%= image_tag "http://cinemont.com/tutorials/howls/cloud_shadow-1.png", :title => "title", :class => "cloud-shadow1" %>
			<%= image_tag "http://cinemont.com/tutorials/howls/cloud_shadow-1.png", :title => "title", :class => "cloud-shadow2" %>
			<%= image_tag "http://cinemont.com/tutorials/howls/cloud_shadow-1.png", :title => "title", :class =>"cloud-shadow3"%>
			<%= image_tag "http://cinemont.com/tutorials/howls/cloud-1.png", :title => "title", :class =>"cloud1"%>
			<%= image_tag "http://cinemont.com/tutorials/howls/cloud-1.png", :title => "title", :class =>"cloud2"%>
			<%= image_tag "http://cinemont.com/tutorials/howls/cloud-2.png", :title => "title", :class =>"cloud3"%>
			<%= image_tag "http://cinemont.com/tutorials/howls/cloud-1.png", :title => "title", :class =>"cloud4"%>
			<%= image_tag "http://cinemont.com/tutorials/howls/cloud-2.png", :title => "title", :class =>"cloud5"%>

			    </div>
			
	      
        </div>
        <!-- /.row 
				
				-->


    </div>
	
<script>
	
	0.9765625

	var map = L.map('map').setView([60, 70], 2);
	
	var bounds = [[-26.5,-25], [1021.5,1023]];


	var meridaMarker = L.icon({
	    iconUrl: 'merida.tif',

	    iconSize:     [800, 419], // size of the icon
	    iconAnchor:   [750, 750], // point of the icon which will correspond to marker's location
	    popupAnchor:  [750, 750] // point from which the popup should open relative to the iconAnchor
	});
    
	L.tileLayer('republica/{z}/{x}/{y}.png', {
        minZoom: 2,
        maxZoom: 4,
		noWrap: true,
		crs: L.CRS.Simple,
        attribution: 'eMotion',

    }).addTo(map);
	var sol = L.latLng([ 145, 175.2 ]);
	L.marker(sol).addTo(map);
	var marker = L.marker([51.5, 20]).addTo(map);
	
	var circle = L.circle([145, 175.2], {
	    color: 'red',
	    fillColor: '#f03',
	    fillOpacity: 0.5,
	    radius: 500
	}).addTo(map);
	
</script>	
    <!-- /.container -->
<map id="map1" name="map1">
	<area shape="poly" alt="" title="" color="blue" coords="1580,1523,1590,1536,1590,1541,1594,1546,1597,1552,1596,1563,1599,1572,1610,1583,1617,1585,1617,1589,1631,1602,1634,1613,1630,1623,1630,1629,1622,1635,1618,1636,1615,1645,1617,1655,1620,1657,1618,1664,1621,1667,1616,1676,1609,1687,1573,1684,1557,1684,1536,1685,1524,1687,1515,1685,1505,1673,1504,1664,1511,1658,1507,1647,1513,1643,1523,1636,1528,1632,1527,1620,1525,1614,1516,1608,1518,1598,1519,1589,1528,1583,1529,1576,1534,1573,1534,1566,1538,1558,1538,1551,1545,1547,1545,1543,1549,1541,1551,1535,1556,1536,1563,1529,1570,1523,1570,1521,1570,1521" href="" target="" />
	<area shape="poly" alt="" title="" color="red" coords="2442,1804,2624,1804,2622,1508,2526,1362,2498,1362,2496,1356,2476,1354,2470,1352,2470,1322,2462,1332,2462,1344,2454,1352,2448,1382,2448,1392,2456,1400,2452,1438,2478,1464,2428,1488,2432,1522,2426,1534,2428,1542,2424,1554,2424,1568,2410,1580,2404,1596,2390,1602,2390,1612,2372,1622,2344,1634,2318,1634,2294,1634,2276,1652,2266,1652,2276,1664,2282,1678,2306,1686,2310,1724,2314,1738,2322,1746,2318,1748,2322,1752,2334,1754,2338,1764,2340,1768,2342,1772,2372,1798,2366,1762,2374,1746,2384,1750,2388,1746,2408,1764,2414,1772,2428,1784,2436,1780,2442,1780,2440,1802,2440,1802" href="" target="" />
	<area shape="poly" alt="" title="" color="purple" coords="2468,1318,2470,1306,2464,1296,2516,1244,2530,1244,2542,1242,2584,1238,2620,1210,2668,1204,2724,1186,2760,1180,2800,1198,2806,1206,2796,1324,2752,1382,2624,1504,2524,1358,2500,1360,2494,1352,2472,1352,2468,1318,2466,1314" href="" target="" />
	<area shape="poly" alt="" title="" color="brown" coords="2630,1800,2686,1802,2690,1764,2694,1754,2722,1758,2718,1746,2728,1720,2716,1712,2724,1704,2718,1692,2734,1676,2755,1678,2758,1628,2767,1639,2772,1652,2775,1662,2794,1690,2810,1700,2810,1709,2817,1716,2820,1726,2829,1724,2835,1714,2832,1673,2833,1654,2859,1607,2847,1607,2833,1618,2823,1627,2808,1634,2815,1600,2848,1593,2861,1575,2839,1566,2819,1574,2801,1566,2803,1557,2815,1549,2820,1525,2839,1509,2846,1481,2838,1470,2834,1463,2829,1456,2852,1433,2854,1396,2871,1369,2875,1344,2877,1328,2886,1318,2886,1303,2897,1283,2902,1274,2901,1241,2880,1230,2870,1210,2846,1209,2834,1213,2806,1201,2796,1325,2756,1384,2626,1506,2624,1800,2623,1800" href="" target="" />
	<area shape="poly" alt="" title="" color="yellow" coords="796,857,815,856,835,883,838,902,843,913,850,926,861,935,884,958,921,957,930,953,933,915,947,914,935,886,940,876,962,867,962,838,968,826,986,814,1011,808,1022,837,1038,840,1048,841,1055,851,1066,851,1082,863,1099,861,1119,855,1143,860,1148,871,1156,877,1173,859,1188,841,1200,835,1221,830,1241,829,1258,829,1246,672,1336,520,1322,513,1306,513,1299,513,1277,495,1240,479,1224,450,1211,434,1182,369,1160,346,1149,335,1124,318,1116,306,1092,280,1070,274,1061,263,1052,249,1041,237,1034,228,858,224,858,282,800,282,794,312,802,331,808,349,808,371,820,386,818,409,818,425,830,457,830,484,824,502,824,516,810,529,812,547,818,559,817,578,825,592,818,603,806,622,813,645,816,681,794,674,776,653,756,655,751,670,762,706,777,726,783,755,793,765,791,772,802,796,783,816,783,831,791,850,794,856,794,856" href="" target="" /><!-- Created by Online Image Map Editor (http://www.maschek.hu/imagemap/index) --></map>